{
  "env": {
    "es6": true,
    "react-native/react-native": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react", "react-hooks", "react-native"],
  "rules": {
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 2,
    "react-native/no-color-literals": "off",
    "react-native/no-raw-text": 2,
    "react/require-default-props": "off",
    "react/forbid-prop-types": "off",
    "implicit-arrow-linebreak": "off",
    "semi": [2, "always"],
    "object-curly-newline": "off",

    "max-len": [
      "error",
      105,
      { "ignoreComments": true, "ignoreStrings": true }
    ],
    "no-underscore-dangle": "off",
    "quotes": [
      "error",
      "single",
      { "avoidEscape": true, "allowTemplateLiterals": true }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "no-duplicate-imports": "error"
  }
}
